/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27.11.2022, 12:45:39
    Author     : rbo
*/
.Pane {-fx-background-color:grey;}
.ScrollPane {-fx-background-color:lightgrey;}
.TabPane {-fx-background-color:darkgrey;}
